html {
  background-color: #F5FFFA; 
  background: url('../images/WDI-conf-bg.svg');
}

#contents {
  width: 65%;
  margin: 0 auto;
}

/* NAV  */

nav {
  display: inline;
  margin-top: 0;
  right: 0;
  position: fixed;
  background-color: #2F4F4F;
  height: 120px;
  width: 80px;
  padding: 5px;
}

ul, li {
  font-size: 0.95em;
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 7px;
  padding: 0 2px;
  color: white;
}

/* headings and type */

h1 {
  display: inline-block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.8em;
  color: #008B8B;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
}

h2 {
  font-family: 'Oxygen', sans-serif;
/*  color: #2F4F4F; *//* dark green */
  color: #40D0D0;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.4em;
  font-size: 1.7em;
}

h3 {
  color: #20B2AA;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.4em;
  font-size: 1.3em;
}

h4 {
  color: #008080;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.4em;
  font-size: 1.1em;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  color: #2F4F4F;
  line-height: 130%;
}

/* links */

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ADFF2F;
}

/* 1 info section */

#main-logo {
  width: 80%;
  padding-top: 10px;
  margin: 0 10%;
}

#pyramid {
  width: 40%;
  float: right;
}

#info {
  padding-top: 2em;
  padding-bottom: 1em;
}


/* 2 map section */

#map {
  margin-top: 1em;
  width: 80%;
}

#arrow-line {
  margin: 0 0 0.5em 0;
  width: 100%;
}

#arrows {
  width: 100%;
}

/* 3 speakers section */

.speaker {
  max-width: 40%;
  display: inline-block;
  margin: 0 2em 1em 0;
  vertical-align: top;
}

.speaker img {
  width: 5em;
  border-radius: 3em;
}

/* 4 program section */

#program h3 {
  margin: 0.5em 0 0.3em 0;
}

#program p {
  -webkit-margin-after: 0;
  font-size: 1em;
}

.talk-bubble {
  background-color: #90EE90;
  width: 13em;
  border-radius: 3em;
  padding: 2px;
  margin: 0 2em 2em 0;
  display: inline-block;
  vertical-align: top;
  border: 0.3em solid #20B2AA;
}

.talk-bubble-2 {
  background-color: #40E0D0;
  width: 13em;
  border-radius: 3em;
  padding: 2px;
  margin: 0 2em 2em 0;  
  display: inline-block;
  vertical-align: top;
  border: 0.3em solid #20B2AA;
}

.inner {
  padding: 0.5em;
  text-align: center;
}

.location-map {
  max-width: 100%;
}

/* 5 modal  */

#modal{
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

#close-modal{
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  color: limegreen;
  cursor: pointer;
}

.modal-body{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 10px solid white;
  z-index: 1;
}

.modal-body img {
  width: 36em;
}


/* form */

form {
  margin: 2em 0;
}

input {
  width: 40%;
  line-height: 160%;
}

button {
  border: none;
  background-color: #90EE90;
  padding: 6px 20px;
}

/* footer */

footer {
  margin: 2em 0 4em 0;
  text-align: center;
}

footer p {
  font-size: 1em;
}
